<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
</head>
<body>
    <header th:fragment="header">
        <section class="meta">
            <ul>
                <li><a th:href="@{/logoutDialog}">Выйти</a></li>
            </ul>

        </section>
    </header>
</body>
</html>