.navbar {
    border-radius: 0;
}

.main {
    padding-top: 20px;
}

a span.octicon {
    color: #373a3c;
    font-size: 24px;
    width: 24px;
    text-align: center;
}
.list-controls {
    padding: 10px 0;
}

table.table td.controls {
    text-align: right;
}

.input-group{padding:10px 0 10px 0;}