.tree-wrapper {
    padding: 20px;
}
#directoryTree {
    min-height: 600px;
    border: 1px solid #d7dee0;
    /*min-height: calc(100vh - 500px);*/
    /*max-height: calc(100vh - 500px);*/
    overflow-y: auto;
}
