﻿/*fonts*/
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url(fonts/OpenSans-CondBold.ttf);
}

/*normalize*/

* {box-sizing:border-box;margin:0;padding:0;}
.hide {visibility: hidden;}

/*lib*/
.ic {background-image: url(../images/spritesheet.png);display: inline-block;vertical-align: middle;}
.item-color-1 {background: #69baec;}
.item-color-2 {background: #5f98b6;}
.item-color-3 {background: #5fbd97;}
.item-color-4 {background: #9585a8;}
.item-color-5 {background: #93a8ad;}
.item-color-1:after {border-color:#69baec transparent transparent transparent;}
.item-color-2:after {border-color:#5f98b6 transparent transparent transparent;}
.item-color-3:after {border-color:#5fbd97 transparent transparent transparent;}
.item-color-4:after {border-color:#9585a8 transparent transparent transparent;}
.item-color-5:after {border-color:#93a8ad transparent transparent transparent;}
.button-1 {background: #fff;border:1px solid #d62b49;color:#d62b49;height:37px;line-height: 37px;font-size:16px;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';padding:0 15px;text-align: center;width:144px;margin-bottom: 24px;display: inline-block;vertical-align: middle;text-decoration: none;cursor: pointer;outline:none;}
.button-1-long {width:100%;}
.button-1:hover {background: #d62b49;color:#fff;}
.button-2 {background: #d62b49;border:1px solid #d62b49;color:#fff;height:37px;line-height: 37px;font-size:16px;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';padding:0 15px;text-align: center;width:144px;margin-bottom: 24px;display: inline-block;vertical-align: middle;;text-decoration: none;cursor: pointer;outline:none;}
.button-2-long {width:100%;}
.button-2:hover {background: #fff;border:1px solid #d62b49;color:#d62b49;}
.disabled {background: #93a8ad;border:1px solid #93a8ad;color:#fff;}
.disabled:hover {background: #93a8ad;border:1px solid #93a8ad;color:#fff;}
.ic-edit {width: 18px;height: 18px;background-position: -106px -5px;}
.ic-delete {width: 14px;height: 18px;background-position: -79px -75px;}
.ic-print {width: 20px;height: 18px;background-position: -103px -75px;}
.ic-checkbox {height: 18px;width:18px;background-position: -79px -47px;}
.wrapper .selectric .label {font-size:14px;width:auto;}
.wrapper .selectric .button:after {border:none;display: inline-block;vertical-align: top;background-image: url(../images/spritesheet.png);    width: 12px;    height: 10px;    background-position: -46px -5px;margin-left:10px;}
.fb {width: 9px;height: 12px;background-position: -87px -25px;}
.ffb {width: 13px;height: 12px;background-position: -28px -46px;}
.ff {width: 9px;height: 12px;background-position: -68px -24px;}
.fff {width: 13px;height: 12px;background-position: -5px -46px;}
.calender-icon {width: 18px;height: 20px;background-position: -51px -46px;}
.popup-search-button {background:#d7dee0;width:37px;height: 37px;line-height: 37px;text-align: center;}
.popup-search-button i {width: 18px;height: 18px;background-position: -5px -103px;}
.button-1:focus, .button-2:focus {box-shadow: 0px 0px 5px #B10523;}


/*form*/
.fw-input {margin-bottom: 24px;position: relative;font-size: 0;}
.fw-input > * {display: inline-block;vertical-align: middle;}
.fw-input label {height:37px;line-height: 37px;font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';width: 150px;padding:0 0 0 15px;background: #d7dee0;}
.fw-input input {height:37px;line-height: 37px;border:1px solid #d7dee0;padding:0 15px;color:#000;font-size:14px;width: calc(100% - 150px);padding-right: 45px;}
.fw-input .tip {position: absolute;bottom:-17px;left:160px;font-size:13px;color:#ccc;font-style: italic;}
.fw-input .more {position: absolute;right:0px;top:0px;font-size:22px;text-decoration: none;line-height: 37px;display: inline-block;vertical-align: top;color:#000;padding:0 10px;width:45px;text-align: right;}
.fw-input .delete-button {position: absolute;right:0;top:0;}

.sized-input {margin-bottom: 24px;position: relative;font-size: 0;width:60%;}
.sized-input > * {display: inline-block;vertical-align: middle;}
.sized-input label {height:37px;line-height: 37px;font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';width: 150px;padding:0 0 0 15px;background: #d7dee0;}
.sized-input input {height:37px;line-height: 37px;border:1px solid #d7dee0;padding:0 15px;color:#000;font-size:14px;width: calc(100% - 150px);}
.sized-input .cal-link {width: 18px;height: 20px;background-position: -51px -46px;background-image: url(../images/spritesheet.png);display: inline-block;vertical-align: middle;position: absolute;right:10px;top:9px;}

.multiline-input {margin-bottom: 24px;position: relative;font-size: 0;}
.multiline-input  > * {display: inline-block;vertical-align: top;}
.multiline-input label {min-height:37px;font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';width: 148px;padding:0 0 0 15px;background: #d7dee0;position: absolute;left:1px;top:28px;}
.multiline-input textarea {min-height:98px;border:1px solid #d7dee0;padding:15px;color:#000;font-size:14px;width: 100%;max-width: 100%;border-left:150px solid #d7dee0;padding-right: 50px;}
.multiline-input .more {position: absolute;right:0px;top:0px;font-size:22px;text-decoration: none;line-height: 98px;display: inline-block;vertical-align: top;color:#000;padding:0 10px;width:45px;text-align: right;}

.select-input {margin-bottom: 24px;position: relative;font-size: 0;}
.select-input .selectric-wrapper {width: calc(100% - 150px);}
.select-input > * {display: inline-block;vertical-align: middle;}
.select-input label {height:37px;line-height: 37px;font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';width: 150px;padding:0 0 0 15px;background: #d7dee0;}
.select-input .selectric {background: #fff;height:37px;border:1px solid #d7dee0;color:#000;}
.select-input .selectric .button:after {border:none;display: inline-block;vertical-align: top;background-image: url(../images/spritesheet.png);    width: 12px;    height: 10px;    background-position: -46px -5px;margin-left:10px;}
.history .selectric {background: #fff;height:37px;border:1px solid #d7dee0;color:#000;width:190px;}
#search-select{width: calc(100% - 85px);}
.code{width:1200px;}

.ch-input label {font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';}
.ch-input label * {display: inline-block;vertical-align: middle;margin-right:12px;}
.ch-input input {display: block; position: absolute; width: 0px; height: 0px; opacity: 0;}
.ch-input label i {position: relative;}
.ch-input label i:after {content: "";width:16px;height:16px;position: absolute;left:0;top:0;border:1px solid #ccc;border-radius: 1px;background: #fff;}
.ch-input input:checked + label i:after {display: none;}
.ch-input input:focus + label i {box-shadow: 0px 0px 2px #B10523;}




#ch-input-search label {margin-left:-15px;background: #fafafa;}

/*style for role page*/
.role-input label {font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';}
.role-input label * {display: inline-block;vertical-align: middle;margin-right:12px;}
.role-input label i {position: relative;}
.role-input label i:after {content: "";width:16px;height:16px;position: absolute;left:0;top:0;border:1px solid #ccc;border-radius: 1px;background: #fff;}
.role-input input:checked + label i:after {display: none;}
.wrapper .main-block .two-column-layout .first-column .role-input {margin-top:50px;}

.required label:after {content: " *";}

/*input validation*/
.error-tip {display: none;}
.error-validation label {background: #f4b5c0 !important;color:#d62b49 !important;}
.error-validation input, .error-validation .selectric {border:1px solid #f4b5c0 !important;}
.error-validation.multiline-input textarea {border:1px solid #f4b5c0 !important;border-left-width:150px !important; }
.error-validation .error-tip {display: block;position: relative;padding-left:167px;margin-bottom:-20px;color:#d62b49;font-size:14px;font-weight: 700; font-family: 'Open Sans Condensed';z-index: 1;text-transform:inherit;}

/*base*/
body {font-family: 'Open Sans', sans-serif;background: #daebef;position:relative;}
body.body-popup {overflow: hidden;}
body.body-popup .overlay {display: block;}

.wrapper {width:1280px;margin:0 auto;}
.wrapper main {background: #fafafa;}
.wrapper main h2 {padding:55px 40px 0 48px;color:#000;font-size:24px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';}
.overlay {position: fixed;top:0;left:0;right:0;bottom:0;background: rgba(0, 0, 0, 0.2);overflow: hidden;height:100%;display: none;z-index:1002;}


/*base popup*/
.popup {width:630px;background: #fff;position: fixed;left:50%;margin-left:-315px;top:150px;box-shadow: 0px 0px 30px -10px #000;z-index: 1003;}
.popup .top {background: #f7f7f7;padding:25px 32px;position: relative;}
.popup .top h2 {color:#000;font-size:24px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';}
.popup .top .close {position: absolute;right:30px;top:20px;font-size:30px;color:#000;text-decoration: none;}
.popup .main {padding:50px 32px 20px 32px;}
.popup .main .search-form .item	{margin-bottom: 25px;position: relative;font-size:0;}
.popup .main .search-form .item .error-tip {display: none;}
.popup .main .search-form .item.error-validation .error-tip {display: block;position: relative;padding-left:167px;margin-bottom:-20px;color:#d62b49;font-size:14px;font-weight: 700; font-family: 'Open Sans Condensed';z-index: 1;}
.popup .main .search-form .item > * {display: inline-block;vertical-align: middle;height:37px;line-height: 37px;font-size:14px;color:#555;}
.popup .main .search-form .item label {text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';width: 150px;padding:0 15px;background: #d7dee0;}
.popup .main .search-form .item input {border:1px solid #d7dee0;background: #fff;padding:0 15px;color:#000;font-size:14px;width:415px;padding-right: 40px;}
.popup .main .search-form .item .selectric {border:1px solid #d7dee0;background: #fff;}
.popup .main .search-form .item .selectric .label {padding:0 15px;color:#000;font-size:14px;width:365px;height: 35px;}
.popup .main .search-form .item .selectric .button:after {border:none;display: inline-block;vertical-align: top;background-image: url(../images/spritesheet.png);    width: 12px;    height: 10px;    background-position: -46px -5px;margin-left:10px;}
.popup .main .search-form .item .popup-search-button {position: absolute;right:0;top:0;}
.popup .main .search-action {padding:20px 2px 0px 0;text-align: right;font-size:0;}
.popup .main .search-action button {margin-left:20px;}

/*login popup*/
.popup.login-popup .main {padding: 50px 80px 0 80px;position: relative;}
.popup.login-popup .top {border-bottom: 1px solid #ECECEC;padding:30px 80px 25px 80px;}
.popup.login-popup .top .logo a {position: relative;display: inline-block;vertical-align: middle;}
.popup.login-popup .top .logo a:first-child {margin-right: 60px;}
.popup.login-popup .top .logo a:first-child:after {content: ""; display: inline-block;vertical-align: top;width:1px;height: 100px;position: absolute;left:130px;top:0;background: #ccc;}
.popup.login-popup .submit-part {padding:0 80px 50px 80px;}
.popup.login-popup .submit-part .button-2 {margin-bottom: 0;}
.popup.login-popup .submit-part .restore-password {text-align: right;margin-top:10px;}
.popup.login-popup .submit-part .restore-password a {color:#4489ae;font-size:14px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';position: relative;padding-right: 11px;}
.popup.login-popup .submit-part .restore-password a:after {content: "";position: absolute;right:0;top:5px;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 5px;border-color: transparent transparent transparent #4489ae;}
.popup.login-popup .fw-input label {position: relative;padding-left:45px;}
.popup.login-popup .fw-input label:before {content: "";position: absolute;left:15px;top:10px;background-image: url(../images/spritesheet-login.png);width:16px;height:16px;}
.popup.login-popup .fw-input.login-input label:before {background-position: -5px -5px;}
.popup.login-popup .fw-input.login-input.error-validation label:before {background-position: -31px -5px;}
.popup.login-popup .fw-input.password-input label:before {height: 21px;top:8px;background-position: -57px -5px;}
.popup.login-popup .fw-input.password-input.error-validation label:before {height: 21px;top:8px;background-position: -5px -36px;}
.popup.login-popup .fw-input input {color:#ccc;}
.popup.login-popup .fw-input input:focus {color:#000;}
.popup.login-popup .login-validation {padding:0 80px;position: absolute;top:170px;width:100%;}
.popup.login-popup .login-validation span {display: inline-block;vertical-align: top;width:100%;background: #ff0000;color:#fff;padding:6px;text-align: center;font-size:12px;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';}

/*header*/
.wrapper header {padding:32px 0;position: relative;}
.wrapper header .logo {position: relative;font-size:0;}
.wrapper header .logo a {text-decoration: none;display: inline-block;vertical-align: top;}
.wrapper header .logo a:first-child {margin-right: 70px;}
.wrapper header .logo i {display: inline-block;vertical-align: top;width:1px;height: 100px;position: absolute;left:130px;top:0;background: #ccc;}
.wrapper header .meta {position: absolute;right:0;top:0;font-size:13px;}
.wrapper header .meta ul {margin: 40px 0 30px 0;list-style: none;color:#333;}
.wrapper header .meta ul li {display: inline-block;vertical-align: top;}
.wrapper header .meta ul li a {color:#4489ae;font-size:14px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';position: relative;}
.wrapper header .meta ul li.have-sub-menu a {padding-right: 40px;}
.wrapper header .meta ul li.have-sub-menu a:after {content: "";position: absolute;right:30px;top:5px;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 5px;border-color: transparent transparent transparent #4489ae;}
.wrapper header .meta p {margin:0 15px 0 0;}
.wrapper header .meta ul li p a {font-weight: bold;color:#333;text-decoration: none;text-transform: none;pointer-events: none; cursor: default;}

/*navigation*/
.wrapper nav ul {font-size:0;list-style: none;display: flex;}
.wrapper nav ul li {border-left:1px solid #fff;flex:auto;text-align: center;position: relative;}
.wrapper nav ul li:first-child {border:none;}
.wrapper nav ul li a {color:#fff;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';position: relative;display: block;padding:14px;}
.wrapper nav ul li a span {font-size:18px;}
.wrapper nav ul li a * {display: inline-block;vertical-align: middle;}
.wrapper nav ul li a i {width: 12px;background-image: url(../images/spritesheet.png);height: 9px;background-position: -68px -5px;margin-left:8px;}
.wrapper nav ul li a:hover {opacity: 0.8;}
.wrapper nav ul li a.active:after {content:"";width: 0;height: 0;border-style: solid;border-width: 8px 8px 0 8px;bottom:-8px;left:50%;margin-left:-8px;position: absolute;}
.wrapper nav ul li ul {
    border: none;
    padding: 0;
    position: absolute;
    width: 100%;
    display: none;
    opacity: 1;
    visibility: hidden;
    z-index: 999;
}
.wrapper nav ul li ul li {
    background: #fff;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.wrapper nav ul li ul li:hover { opacity: 1; }
.wrapper nav ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

/*search form*/
.wrapper main .search-2-1 {font-size:0;}
.wrapper main .search-2-1 > * {display: inline-block;vertical-align: top;}
.wrapper main .search-2-1 .input-group {margin-bottom: 24px;position: relative;}
.wrapper main .search-2-1 .input-group > * {display: inline-block;vertical-align: middle;}
.wrapper main .search-2-1 .input-group .calender-icon {position: absolute;right:10px;top:8px;}
.wrapper main .search-2-1 label {height:37px;line-height: 37px;font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';width: 150px;padding:0 15px;background: #d7dee0;}
.wrapper main .search-2-1 input {height:37px;line-height: 37px;border:1px solid #d7dee0;padding:0 15px;color:#000;font-size:14px;width: 190px;}
.wrapper main .search-2-1 select {height:37px;line-height: 37px;border:1px solid #d7dee0;padding:0 15px;color:#000;font-size:14px;width: 190px;}

.wrapper main .search-2-1 .main-col {width:37%;padding:48px 0 48px 48px;}
.wrapper main .search-2-1 .add-col {width:26%;padding:48px 48px 48px 48px;}
.wrapper main .search-2-1 .button-group a {height:37px;line-height: 37px;font-size:16px;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';padding:0 15px;text-align: center;width:144px;margin-bottom: 24px;display: block;text-decoration: none;}

/*full-width-table*/
.wrapper .full-width-table table {width:100%;border-collapse: collapse;border-spacing: 0;}
.wrapper .full-width-table table.refusal tr th {background: #cce9fb}
.wrapper .full-width-table table.files tr th {background: #afcbd9}
.wrapper .full-width-table table.request tr th {background: #bfe6d4}
.wrapper .full-width-table table.administration tr th {background: #dbe3e5}
.wrapper .full-width-table table.statistics tr th {background: #a294b1}
.wrapper .full-width-table table tr th {background: #cce9fb;text-align: left;padding:14px 0 14px 32px;}
.wrapper .full-width-table table tr th:first-child {padding-left: 48px;}
.wrapper .full-width-table table tr th a > * {display: inline-block;vertical-align: middle;}
.wrapper .full-width-table table tr th a {color:#000;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;position: relative;}
.wrapper .full-width-table table tr th a.list-up i {width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #000 transparent transparent transparent;margin-left:5px;}
.wrapper .full-width-table table tr th a.list-down i {width: 0;height: 0;border-style: solid;border-width: 0 5px 5px 5px;border-color: transparent transparent #000 transparent;margin-left:5px;}
.wrapper .full-width-table table tr td {text-align: left;padding:14px 0 14px 32px;font-size: 14px;color:#000;background: #f7f7f7;}
.wrapper .full-width-table table tr td:first-child {padding-left: 48px;width:220px;}
.wrapper .full-width-table table tr td:first-child + td {width:330px;}
.wrapper .full-width-table table tr td:first-child + td + td {width:160px;}
.wrapper .full-width-table table tr td:first-child + td + td + td {width:190px;}
.wrapper .full-width-table table tr td:first-child + td + td + td +td {width:150px;}
.wrapper .full-width-table table tr td:last-child {text-align: right;padding-right: 48px;}
.wrapper .full-width-table table tr:nth-child(2n) td {background: #fff;}
.wrapper .full-width-table table tr.created td {background: #f99;}
.wrapper .full-width-table table tr td .ic {margin-left:24px;}
.wrapper .table-pagination {position: relative;padding:20px 48px 80px 48px;background: #fff;}
.wrapper .table-pagination .row-count > * {display: inline-block;vertical-align: middle;}
.wrapper .table-pagination .row-count span {color:#000;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;margin-right: 10px;}

.wrapper .table-pagination .pagination a, .wrapper .table-pagination .pagination span {width:38px;height:38px;background: #f6f5f5;display: inline-block;vertical-align: middle;text-align: center;line-height: 38px;color:#000;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;position: relative;}
.wrapper .table-pagination .pagination a:hover, .wrapper .table-pagination .pagination a.active {background: #cdd1d2;}
.wrapper .table-pagination .pagination span {background: #fff;}

/*main-block*/
.wrapper .main-block {background: #fff;padding:64px 48px;}
.wrapper .main-block h2 {color: #000;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 24px;position: relative;padding:0;}
.wrapper .main-block h3 {color: #000;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 18px;position: relative;padding:0;margin-top:48px;margin-bottom: 24px;}
.wrapper .main-block h4 {color: #000;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;position: relative;padding:0;margin-top: 24px;}
.wrapper .main-block .action-block {margin:50px 0;}
.wrapper .main-block .action-block > * {margin-right:16px;}
.wrapper .main-block .two-column-layout {font-size:0;}
.wrapper .main-block .two-column-layout > * {display: inline-block;vertical-align: top;width:50%;padding-right: 70px;}
.wrapper .main-block .two-column-layout .first-column .ch-input {margin-top:50px;}


/*footer*/
.wrapper footer {background: #b7c6ca;color:#fff;padding:20px 48px;font-size:14px;}


/*constructor*/

.wordBreak {word-wrap: break-word}
.statTable {table-layout: fixed; width: 100%;}

.main-search-block.constructor {background: #fff;}
.constructor-meta {padding:55px ;width: 650px; word-wrap: break-word;}
.constructor-main {padding:0 50px 50px 50px;}

.constructor-main .action-block > * {margin:50px 16px 50px 0;}
.constructor-main .action-block button:first-child {margin-left: 5px;}
.constructor-main h3 {color: #000;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 18px;margin-bottom: 30px;}

.create-layout {display:flex;flex-direction: row;flex-wrap: nowrap;justify-content: flex-start;align-content: stretch; align-items: stretch;}

.list-of-items {flex: 2;background: #f7f7f7;margin:5px;padding:25px;}
.list-of-items ul li {display: block;cursor: pointer;}
.list-of-items ul{margin: 15px 0 15px 0;}
.list-of-items .have-sub-menu ul {margin: 15px 0 15px 20px;}
.list-of-items ul li.have-sub-menu {position: relative;padding-left:15px;margin:15px 0;}
.list-of-items ul li.have-sub-menu:before {content:"";position: absolute;left:0;top:6px;}
.list-of-items ul li.have-sub-menu.closed:before  {width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 5px;border-color: transparent transparent transparent #8a8a8a;}
.list-of-items ul li.have-sub-menu.opened:before  {width: 0;height: 0;border-style: solid;border-width: 5px 5px 0 5px;border-color: #8a8a8a transparent transparent transparent;top:8px;}
.list-of-items ul li {text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;color:#000;}
.list-of-items ul li.have-sub-menu.closed ul {display: none;}
.constructor-main .create-layout li.draggable {display:block;background: #d7dee0;padding:10px 20px;margin:2px;color:#000;cursor: pointer;}
.draggable {display:block;background: #d7dee0;padding:10px 20px;margin:2px;color:#000;cursor: pointer;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;}
.list-of-items ul li.active {color:#4489ae;}
.list-of-items ul li.active.have-sub-menu.opened:before {border-top-color:#4489ae;}

.item-trap {flex: 3; display:flex;flex-direction: column;flex-wrap: nowrap;justify-content: flex-start;align-content: stretch; align-items: stretch;}
.item-trap > * {flex:1;background: #fff;margin:5px;background: #f7f7f7;padding:25px;}
.result-create-table {background: #f7f7f7;margin:5px 5px 0 5px;padding:25px;}
.remove-draggable {display: none;vertical-align: top;position: absolute;right:10px;top:0px;color:red;text-decoration: none;font-size: 28px;font-weight: normal;}
.item-trap .remove-draggable {display: inline-block;}

.trap-inner {margin:20px 0;min-height: 140px;border:2px dashed #ccc;position: relative;font-size:0;}

.trap-inner-row:empty:before {content:"Перетащите сюда параметры для построения строк";position: absolute;width: 100%;text-align: center;left:0;top:50%;margin-top:-10px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 15px;color:#ccc;}
.trap-inner-column:empty:before {content:"Перетащите сюда параметры для построения столбцов";position: absolute;width: 100%;text-align: center;left:0;top:50%;margin-top:-10px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 15px;color:#ccc;}

.error-row:empty:before {content:"Перетащите сюда параметры для построения строк";position: absolute;width: 100%;text-align: center;left:0;top:50%;margin-top:-10px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 15px;color:#d62b49;}
.error-column:empty:before {content:"Перетащите сюда параметры для построения столбцов";position: absolute;width: 100%;text-align: center;left:0;top:50%;margin-top:-10px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 15px;color:#d62b49;}

.trap-inner .empty {display: none;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 15px;color:#ccc;text-align: center;line-height: 140px;border:2px dashed #ccc;}
.trap-inner li {list-style:none;}
.trap-inner li.draggable {display:block;background: #d7dee0;padding:10px 20px;margin:2px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;color:#666;width:300px;position: relative;cursor: pointer;}
.ico-rows * {display: inline-block;vertical-align: middle;}
.ico-rows i {position: relative;padding-left:25px;height:16px;}
.ico-rows i:before {content: "";width:17px;height:6px;background: #8a8a8a;position: absolute;left:0;top:2px;}
.ico-rows i:after {content: "";width:17px;height:6px;background: #8a8a8a;position: absolute;left:0;top:10px;}
.ico-column {padding-left:25px;position: relative;}
.ico-column * {display: inline-block;vertical-align: middle;}
.ico-column i {position:absolute;width:5px;height:14px;background: #8a8a8a;left:0;top:8px;}
.ico-column i:before {content: "";width:5px;height:14px;background: #8a8a8a;position: absolute;left:6px;top:0px;}
.ico-column i:after {content: "";width:5px;height:14px;background: #8a8a8a;position: absolute;left:12px;top:0px;}

.result-create-table {text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 14px;color:#000;}
.result-create-table table {width: 100%;border-spacing: 0;border-collapse: collapse;background: #fff;margin:30px 0;position: relative;}
.result-create-table .table-wrap {width: 1120px;overflow-x: auto;}
.result-create-table table tr:nth-child(2n) td {background: #f7f7f7;}
.result-create-table table tr th, .result-create-table table tr td:first-child  {background:#dad3e1}
.result-create-table table td, .result-create-table table th {padding:10px 15px;min-height: 50px;min-width:150px;border:1px solid #fff;}
.result-create-table table tr th.subTotal {background: #9480a8; font-size: 15px;color:white;}
.result-create-table table tr th.total {background: #635175; font-size: 16px;color:white;}

.showMembersDialog {max-height: 250px; overflow: scroll; overflow-x: hidden;}

.error-preview {text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 15px;color:#d62b49;}


/*temp*/
.popup-call-1 {position: fixed;left:20px;top:50px;display: inline-block;vertical-align: top;width:30px;height:30px;background: red;color:#fff;text-decoration: none;margin-bottom: 20px;text-align: center;line-height: 30px;}
.popup-call-2 {position: fixed;left:20px;top:120px;display: inline-block;vertical-align: top;width:30px;height:30px;background: red;color:#fff;text-decoration: none;margin-bottom: 20px;text-align: center;line-height: 30px;}

.input-append {position: absolute;right:0;top:0;background:#d7dee0;width:37px;height:37px;line-height:37px;text-align:center;}
.multiline {height:100%;line-height:98px;}

textarea {font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;}
input[type=text] {font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;}

.graft-actions {padding: 20px 2px 0px 0; text-align: right; font-size: 0;}
.graft-actions button {margin-left: 20px;}

.popup p {font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';}

.wrapper main .answer .search-2-1 .main-col {
    width: 33%;
    padding: 48px 0 48px 26px;
}
.wrapper main .answer .search-2-1 input {
    width: 244px;
}
.wrapper main .answer .search-2-1 label {
    width: 146px;
}
.wrapper main .answer .search-2-1 .fw-input {
    width: 100%
}
.answer .select-input .selectric-wrapper {
    width: 244px;
}
.answer .multiline-input textarea {
    border-left: 148px solid #d7dee0;
    width: 800px;
}
.answer .btn-wrapper {
    text-align: center;
}
.answer .non-style {
    outline: 0;
    background: none;
    border: 0;
}
.wrapper main .answer .search-2-1 .button-group a {
    width: 182px;
}
.answer .fw-input .tip {position: absolute;bottom:-17px;left:86px;font-size:13px;color:#ccc;font-style: italic;}
.answer .tip {font-size:13px;color:#ccc;font-style:italic;width:100%;word-wrap:break-word;}
.multiline-tip {padding: 0 7px 0 86px;position:static!important;}
.passport-issuer {margin-bottom: 6px;}

.checkMessage {font-size:14px;color:#000;text-transform: uppercase;font-weight: 700; font-family: 'Open Sans Condensed';}

/* Roles */
.wrapper .full-width-table table.roles tr td:first-child {padding-left: 48px; width: 140px;}
.wrapper .full-width-table table.roles tr td:first-child + td {width: 600px;}
.wrapper .full-width-table table.roles tr td:first-child + td + td {width: 200px;}

.wrapper .full-width-table table.features tr td:first-child {padding-left: 48px; width: 40%;}
.wrapper .full-width-table table.features tr td:first-child + td {width: 12%;}
.wrapper .full-width-table table.features tr td:first-child + td + td {width: 12%;}
.wrapper .full-width-table table.features tr td:first-child + td + td + td {width: 12%;}
.wrapper .full-width-table table.features tr td:first-child + td + td + td + td {width: 12%;}
.wrapper .full-width-table table.features tr td:first-child + td + td + td + td + td {width: 12%;}
.wrapper .full-width-table table.features tr td:last-child {text-align: left}

.originalDataMessage{width:100%;}
.search-checkbox div{padding-top:10px;}
form.role-form {padding-top: 48px;}
form.role-form .column-wrapper .ch-input {padding-top: 6px;}

/* Error */
.wrapper main p.error-details {padding:20px 40px 20px 48px;color:#000;font-size:18px;text-transform:uppercase;text-decoration:none;font-weight:700;font-family: 'Open Sans Condensed';}

#answerDialog .button-1 {width: 182px;}
#answerDialog .button-2 {width: 182px;}


.wrapper main .organization.search-2-1 .main-col {width:60%;}
.wrapper main .organization.search-2-1 .add-col {width:20%;}
.wrapper main .organization.search-2-1 input { width: 400px; }
.wrapper main .organization.search-2-1 .select-input .selectric-wrapper { width: 400px; }

#ui-datepicker-div {z-index:100000 !important}

.select-page {float: right;}
.page-dropdown {margin-right: 30px;}
.page-dropdown span {margin-left: 10px;}
.ch-disabled {pointer-events: none; cursor: default;}
.request-form {margin-bottom: 6px!important;}
.hidden {display: none;}
.textarea-readonly {outline:none;}
.duplicateDiagnoses{margin-top:-20px; padding-bottom:30px;}
#passportNumberInput, #personalNumberInput {text-transform: uppercase}

#confirmationDialog #confirmationMessage, #errorDialog #errorMessage {
    max-height: 300px;
    overflow-y: auto;
}

footer span {display:inline;}
footer .right {float:right;}

.login-wrapper .main h2 {color:#000;font-size:24px;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';}
.login-wrapper .main h3 {color:#000;text-transform: uppercase;text-decoration: none;font-weight: 700; font-family: 'Open Sans Condensed';font-size: 18px}
.popup.login-popup .submit-part .button-1 {margin: 0 0 0 70px;}
.popup.login-popup .submit-part .button-2.logout {margin: 0 70px 0 0; float: right;}