<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Ошибка</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: header"></div>
    <main th:switch="${status}">
        <h2 th:case="'403'">Доступ запрещен</h2>
        <h2 th:case="'404'">Страница не найдена</h2>
        <h2 th:case="*">Внутренняя ошибка сервера</h2>
        <p class="error-details"></p>
    </main>
</div>

<script th:src="@{/js/jquery.min.js}"></script>

</body>
</html>
