<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:text="#{home.title}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>
<body>
<a th:href="@{/administration/page/add}" class="btn btn-secondary-outline" th:text="#{button.cancel}"></a>
<a th:href="@{/administration/page/edit}" class="btn btn-secondary-outline" th:text="#{button.cancel}"></a>
<a th:href="@{/administration/users}" class="btn btn-secondary-outline" th:text="#{button.cancel}"></a>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>