<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Список</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/octicons/octicons.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/jquery-ui.theme.min.css}" />
    <link rel="stylesheet" th:href="@{/css/selectric.css}" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: header"></div>
    <div class="full-width-table">
        <div class="list-controls">
            <a th:href="@{/administration/create}" class="btn btn-primary">Создать</a>
        </div>
        <table class="files statTable">
            <thead>
            <tr>
                <th><a href="#" class="sortable"><span>Номер</span></a></th>
                <th><a href="#" class="sortable"><span>Имя файла</span></a></th>
                <th><a href="#" class="sortable"><span>Тип файла</span></a></th>
                <th><a href="#" class="sortable"><span>Путь файла</span></a></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="page, status : ${list}">
                <td class="wordBreak" th:text="${status.index+1}" />
                <td th:text="${page.name}"/>
                <td th:text="${page.type}"/>
                <td th:text="${page.path}"/>
                <td>
                    <a th:href="@{/administration/}  + ${page.path} + '.' + ${page.type}" th:title="Изменить"><span class="octicon octicon-pencil"></span></a>
                    <a th:attr="data-url=@{/administration/}  + ${page.path} + '/delete'" th:title="Удалить" class="delete"><span class="octicon octicon-trashcan"></span></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="fragments/dialogs :: confirmation-dialog"></div>
<div th:replace="fragments/dialogs :: error-dialog"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/delete.js}"></script>
</body>
</html>