<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="wrapper login-wrapper">
    <div class="popup login-popup">
        <form th:action="@{/login}" method="post">
            <div class="main">
                <div class="fw-input login-input">
                    <label for="usernameInput">Логин</label>
                    <input type="text" id="usernameInput" name="username" placeholder="Введите логин..." />
                </div>
                <div class="fw-input password-input">
                    <label for="passwordInput">Пароль</label>
                    <input type="password" id="passwordInput" name="password" placeholder="Введите пароль..." />
                </div>
            </div>
            <div class="submit-part">
                <button type="submit" class="button-2 button-2-long">Войти</button>
            </div>
            <div th:if="${param.error}" class="login-validation"><span>Неверный логин или пароль</span></div>
        </form>
    </div>
</div>

</body>
</html>