<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Выход из системы</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

<div class="wrapper login-wrapper">
    <div class="popup login-popup">
        <form th:action="@{/logout}" method="post">
            <div class="main">
                <h2>Выход из системы</h2>
                <br />
                <h3>Вы действительно хотите выйти из системы?</h3>
                <br /><br />
            </div>
            <div class="submit-part">
                <span><a th:href="@{${referrer}}" class="button-1">Отмена</a></span>
                <button type="submit" class="button-2 logout">Выйти</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>