<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Изменение</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/header :: header"></div>
    <main>
        <div class="main-block">
            <form id="registerEntryForm" th:object="${file}" th:action="@{/administration/edit/}"  method="post">
                <div class="column-wrapper two-column-layout">
                    <div class="first-column">
                        <div class="fw-input required" th:classappend="${#fields.hasErrors('name')}? error-validation">
                            <label for="nameInput">Название</label>
                            <input type="text" id="nameInput" th:field="*{name}" />
                            <p class="error-tip" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                        </div>
                        <div class="code">
                            <textarea id="elm1" name="elm1" rows="15" cols="80" style="width: 80%" th:field="*{code}"></textarea>
                        </div>
                        <div>
                            <a class="button-1" href="javascript:;" onclick="tinymce.get('elm1').show();return false;">Вид</a>
                            <a class="button-1" href="javascript:;" onclick="tinymce.get('elm1').hide();return false;">Код</a>
                        </div>
                    <input type="hidden" id="path" th:field="*{path}" />
                    <input type="hidden" id="type" th:field="*{type}" />
                    <div class="action-block">
                        <a class="button-1" th:href="@{${referrer}}">Отменить</a>
                        <button type="submit" class="button-2" id="saveButton">Сохранить</button>
                    </div>
                    </div>
                </div>
                <input type="hidden" name="referrer" th:value="${referrer}" />
            </form>
        </div>
    </main>
</div>
<script th:src="@{/js/tinymce.dev.js}"></script>
<script th:src="@{/js/plugins/table/plugin.dev.js}"></script>
<script th:src="@{/js/plugins/paste/plugin.dev.js}"></script>
<script th:src="@{/js/plugins/spellchecker/plugin.dev.js}"></script>
<script th:src="@{/js/plugins/codesample/plugin.dev.js}"></script>
<script th:src="@{/js/redactor.js}"></script>
</body>
</html>